{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="container">
        <div id="uploader-form" class="">

            {{ form_start(form) }}
            {{ form_row(form.filename, ) }}

            <button type="submit" class="btn btn-outline-dark">Prześlij</button>
            {{ form_end(form) }}
        </div>

        <div>
        </div>
    </div>
{% endblock %}
